@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;500&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #000;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}


/* Header */
header {
    background-color: whitesmoke;
}

/* Main content */
main {
    background-color: silver;
    /* Makes main element take up any surplus space to push footer down to bottom */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: beige;
}