@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;500&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #000;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}


/* Header */

header {
    background-color: #f5f5f5;

    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu-list {
    font-size: 110%;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    background-color: black;
    color: white;
    border: 0.125rem solid #00f;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #f5f5f5;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    text-align: center;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 2px;
    font-size: 1.5rem;
    align-items: center;
    
}


h1 {
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 35px;
    text-transform: uppercase;
    color: #5C5C5C;
}

/* Main content */
main {
    background-color: silver;
    /* Makes main element take up any surplus space to push footer down to bottom */
    flex: 1 0 auto;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


.logo-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#c3ms-logo-image{
    display: flex;
    padding: 0;
    margin: 0;
    height: 7rem;
    width: 7rem;
    overflow-clip-margin: content-box;
    overflow: hidden;
}

#menu-text {
    display: flex;
    padding: 0 0.5px 2.5px 0;
}

#burger-icon {
    padding: 5px;
}