@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;500&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #50505a;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1, h2, h3{
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 35px;
    text-transform: uppercase;
    color: #50505a;
}


/* Header */

header {
    background-color:#f5f5f5;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}


#c3ms-logo-image {
    display: flex;
    padding: 0;
    margin: 0;
    max-width: 100px;
    max-height: 100px;
}

#company-name {
    font-size: 1.5rem;
    display: none;
}

#company-abbr-name {
    font-size: 1.5rem;
    display: none;
}

.menu-text {
    display: none;
}

#menu-list {
    font-size: 110%;
    list-style-type: none;
}

#menu-list>li {
    margin-bottom: 1em;
}

.active,
a:hover -c3ms-logo {
    color: #000;
    border-bottom: 1px solid #3a3a3a;
}

.active {
    background-color: black;
    color:white;
}

#menu-list a:hover {
    border-bottom: 1px solid #3a3a3a;
}


/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #f5f5f5;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    text-align: center;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 2px;
    font-size: 1.5rem;
    align-items: center;

}

/* Main content */
main {
    /* Makes main element take up any surplus space to push footer down to bottom */
    flex: 1 0 auto;
    margin-top: 110px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/man-in-cloud-hero.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(27, 30, 30, 0.7);
    font-size: large;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 10px;
    padding-left: 40px;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 0.5px 2px #054d98;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff
}

/* Cloud migration section */

#cloud-migration {
    width: 90%;
    margin: 20px auto;
}

#cloud-migration h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#pros-time-money>div,
#pros-staff-clients>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#pros p {
    padding: 0 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#box-cover-bg {
    background: url('../images/cloud-collage.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 3%;
    max-width: 300px;
    max-height: 300px;
}

#cloud-migration-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Services Hero */

#services {
    height: 600px;
    width: 100%;
    background: url("../images/find-solutions.webp") no-repeat center center / cover;
    position: relative;
}

#services-text {
    background-color: rgba(27, 30, 30, 0.7);
    font-size: large;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 30px;
    padding-left: 40px;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 0.5px 2px #054d98;
}

#services-text > h2, #services-text > h3 {
    color: #ffffff
}


/* Contact Form */
#contact {
    background-image: url(../images/touch-the-cloud.webp);
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

.form-box {
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
}

#contact-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#contact-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.contact-info {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 2px;
    padding: 0 5px;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

.menu-text {
    display: flex;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #50505a;

}

.hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

#burger-icon {
    padding: 5px;
    color: #50505a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 320px) {
    #company-abbr-name {
        display: contents;
        visibility: visible;
    }
    .menu-text {
        display: none;
    }


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */

    #company-abbr-name {
        display: none;
    }
    
    #company-name {
        display: contents;
        visibility: visible;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 100px;
    }

    /* Hero image */
    #cover-text {
        width: 200px;
        right: 50px;
    }

    /* Cloud-Migration Section */
    #pros-time-money, #pros-staff-clients {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #pros-time-money > div, #pros-staff-clients > div {
        width: 75%;
    }
    
    #pros-staff-clients > div {
        text-align: end;
        align-self: flex-end;
    }

    /* Services page */
    #services-text {
        width: 300px;
        right: 50px;
    }


    /* Large devices (laptops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        #menu-list a:hover {
            border-bottom: 1px solid #000;
        }
    }
}
}

@media screen and (min-width: 1200px) {    
    /* Cloud-Migration Section */
    #pros {
        display: flex;
        flex-direction: row;
    }

    #pros > div {
        flex: 1;
    }

    #cloud-migration-image {
        order: 0
    }

    #pros-staff-clients {
        order: 1;
    }

    #pros-staff-clients > div {
        align-self: flex-start;
    }

    #pros-time-money > div {
        align-self: flex-end;
    }
}